#   Environment variables are specified in this file.
#   Generally, you do not need to change these default values.
#   However, if you have a trouble that any scripts for ReALLEN are missing, 
#     please write direct path for these variables.


#   Definition of ReALLEN general path
#   $SCRIPTPATH is a path to the running script.
#      e.g. /use/local/reallen
REALLENROOT="$SCRIPTPATH"
REALLENDIR="$REALLENROOT/src"
REFHG19="$REALLENROOT/reference/hg19.fa"
REFHG19I="$REALLENROOT/reference/hg19.fa.fai"
BWAHG19="$REALLENROOT/reference/bwa-hg19"
ANNOTATION="$REALLENROOT/resource"

#   The place to make temporary files
TMPDIR=`pwd`/temporary_files_reallen

#   samtools is required.
SAMTLS=`which samtools`

#   bwa is required.
BWA=`which bwa`
